<title>Points & Pixels | <%= page %></title>
<meta charset="utf-8">
<meta name="active-menu" content="<%= menuId %>">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fullPage.js/3.0.7/fullpage.min.css" integrity="sha256-3IkGqGYOvq1Ype2MXFwVJFeBtBACgiveho3SacOEEP8=" crossorigin="anonymous" />
<meta prefix="og: http://ogp.me/ns#" property="og:image" content="http://s3.amazonaws.com/jonas-personal-portfolio/logo-icon-01.png" />
<meta prefix="og: http://ogp.me/ns#" property="og:image:secure_url" content="https://s3.amazonaws.com/jonas-personal-portfolio/logo-icon-01.png" />
<meta prefix="og: http://ogp.me/ns#" property="og:image:type" content="image/png" />
<meta prefix="og: http://ogp.me/ns#" property="og:image:width" content="1220" />
<meta prefix="og: http://ogp.me/ns#" property="og:image:height" content="1220" />
<meta prefix="og: http://ogp.me/ns#" property="og:image:alt" content="Make Every Pixels Count" />
<link rel="icon" href="./images/favicon.ico">
<link rel="stylesheet" href="./stylesheets/style.css">
<link rel="stylesheet" href="./stylesheets/hamburger.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.2/animate.min.css">
<link rel="stylesheet" href="https://use.typekit.net/tms7fjm.css">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
<link rel="stylesheet" href="https://use.typekit.net/ggt4lqm.css">
<link rel="https://cdn.rawgit.com/mfd/7c7a915eb31474cc8c6a65066a4c4dc3/raw/f0f2fb94c21dea904812a53e0eb6cf0bc87f3754/GTWalsheimPro.css">