<button onclick="openNav();" id='menu-button' class="hamburger hamburger--collapse" type="button">
  <span class="hamburger-box">
    <span class="hamburger-inner"></span>
  </span>
</button>

    <div id='myNav' class='container h-100 w-100 mh-100 mw-100'>
        
        <div class='row my-auto justify-content-center align-self-center w-100 mh-100 mw-100'>
            <div class="col-md-8">
                <div class='' id="my-embedded-typeform"></div> 
            </div>
            <div class="col-md-4 my-auto py-auto">
                <div class='row'>
                <nav class='my-auto'>
                    <ul id='main-menu'>
                        <li><a href='/'>Projects</a> </li>
                        <li><a href='/projects'>LinkedIn</a></li>
                        <li><a href='/projects'>Contact</a></li>
                    </ul>
                </nav>
                </div>
                <div class='row'>
                    <ul id='sub-menu'>
                        <li><a href='/projects'>me@pointsnadpixels.io</a> </li>
                        <li><a href='/projects'>+1 289 200 979two</a></li>
                    </ul>
                </div>
            </div>
            
        </div>
    </div>

    <div id='overlay-panel' class='container mh-100 mw-100 h-100 w-100'>
        
    
    </div>

