<!DOCTYPE html>
<html lang="en">
<head>
        <title>Points & Pixels | <%= page %></title>
        <meta charset="utf-8">
        <meta name="active-menu" content="<%= menuId %>">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <meta prefix="og: http://ogp.me/ns#" property="og:image" content="http://s3.amazonaws.com/jonas-personal-portfolio/logo-icon-01.png" />
        <meta prefix="og: http://ogp.me/ns#" property="og:image:secure_url" content="https://s3.amazonaws.com/jonas-personal-portfolio/logo-icon-01.png" />
        <meta prefix="og: http://ogp.me/ns#" property="og:image:type" content="image/png" />
        <meta prefix="og: http://ogp.me/ns#" property="og:image:width" content="1220" />
        <meta prefix="og: http://ogp.me/ns#" property="og:image:height" content="1220" />
        <meta prefix="og: http://ogp.me/ns#" property="og:image:alt" content="Make Every Pixels Count" />
        <link rel="icon" href="/public/images/favicon.ico">
        <link rel="stylesheet" href="\stylesheets\style.css">
        <link rel="stylesheet" href="https://use.typekit.net/tms7fjm.css">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
        <link rel="stylesheet" href="https://use.typekit.net/ggt4lqm.css">
        <style>
            .project-featured-body {
                padding-top:50px;
                padding-bottom: 50px;
            }
            .title-featured-body {
                font-size: 56pt;
            }
            .category-featured-body {
                font-size:36pt;
            }
            
.grey {
    background-color: #f3f3f3;
}
        </style>
</head>
<body>
<header>
    <% include partials/menu.ejs %>
</header>
<div class=""> 
    <div class="container">
        <!--section 1-->
        <div class="row fullwidth-header">
            <div class="col-sm-2 ">

            </div>
            <div class="col-sm-8 ">
                <h1 style="font-size: 56pt;background-color: #fff;text-align: center;">I'm a coder who can design.</h1>
                
            </div>
            <div class="col-sm-2 ">

            </div>
        </div>
        <div class="row top-buffer" style="display: none;">
                <div class="col-md-1 ">
                        <img src="https://img.icons8.com/nolan/64/000000/js.png">
                    </div>
                    <div class="col-md-1 ">
                            <img src="https://img.icons8.com/nolan/64/000000/api-settings.png">
                    </div>
                    <div class="col-sm-1 ">
                            <img src="https://img.icons8.com/nolan/64/000000/web-design.png">
                    </div>
                    <div class="col-sm-1 ">
                            <img src="https://img.icons8.com/nolan/64/000000/html.png">
                    </div>  
                    <div class="col-sm-1 ">
                        <img src="https://img.icons8.com/nolan/64/000000/google-cloud-platform.png">
                    </div>  
                    <div class="col-sm-1 ">
                        <img src="https://img.icons8.com/nolan/64/000000/maxcdn.png">
                    </div>
                    <div class="col-sm-1 ">
                        <img src="https://img.icons8.com/nolan/64/000000/heroku.png">
                    </div>
                    <div class="col-sm-1 ">
                        <img src="https://img.icons8.com/nolan/64/000000/amazon-s3.png">
                    </div>
                    <div class="col-sm-1 ">
                            <img src="https://img.icons8.com/nolan/64/000000/adobe-creative-cloud.png">
                        </div>  
                        <div class="col-sm-1 ">
                                <img src="https://img.icons8.com/nolan/64/000000/github.png">
                        </div>  
                        <div class="col-sm-1 ">
                                <img src="https://img.icons8.com/nolan/64/000000/mysql.png">
                            </div>  
                            <div class="col-sm-1 ">
                                    <img src="https://img.icons8.com/nolan/64/000000/online-store.png">
                            </div>  
        </div>
        <!--section 1-->
        <div class="row top-buffer">
            <div class="col-sm-2 ">
            </div>
            <div class="col-sm-8 ">
                <img class="project-featured longShadow center-block" src="https://s3.amazonaws.com/jonas-personal-portfolio/imbuespark-02.png">
                <div class="project-title-latest">
                    <a href="https://nameless-plateau-58665.herokuapp.com/">Imbue Spark</a>
                </div>
                <div class="project-sub-latest ">
                    Google API's and RESTful API's
                </div>
                <div class="project-description-latest ">
                    Imbue Spark is a cloud application that is designed to help users collate reviews for a specific item or product. The review can be retrieved by two options: keyword search or image recognition. The application allows users to upload an image file and a powerful API is used to detect logo and labels. For each review, a user can retrieve the product page or its reviews site. The user also has the option to email the review. Imbue Spark utilizes RESTful API's including Google Cloud Vision and Webhose.io API.
                </div>
            </div>

        </div>
        <div class="row top-buffer text-center" style="padding-top:0px;">
            <div class="col-sm-2 ">
            </div>  
            <div class="col-md-1 ">
                <img src="https://img.icons8.com/nolan/64/000000/js.png">
            </div>
            <div class="col-md-1 ">
                <img src="https://img.icons8.com/nolan/64/000000/api-settings.png">
            </div>
            <div class="col-sm-1 ">
                <img src="https://img.icons8.com/nolan/64/000000/amazon-s3.png">
            </div>  
            <div class="col-sm-1 ">
                <img src="https://img.icons8.com/nolan/64/000000/google-cloud-platform.png">
            </div>  
            <div class="col-sm-1 ">
                    <img src="https://img.icons8.com/nolan/64/000000/heroku.png">
            </div>                               
        </div>
        <!--section 2-->
        <div class="row top-buffer grey" >
            <div class="col-sm-2 ">
            </div>
            <div class="col-sm-8 " >
                <img class="project-featured" src="https://s3.amazonaws.com/jonas-personal-portfolio/yeahdatsme-landing-03.svg">
                <div class="project-title-latest">
                    <a href="http://yeahdats.me">Scheduling Application</a>
                </div>
                <div class="project-sub-latest " >
                    Fullstack Cloud Application <br>
                </div>
                <div class="project-description-latest ">
                    A 100% cloud-based application that allows you to schedule things so you won’t forget about them. It’s a simple and straightforward system that is perfect for people who use their internet browser for reminders. Extremely intuitive, easy to use, 100% responsive and fast loading.
                </div>
            </div>
            <div class="col-sm-2 ">
            
            </div>
        </div>
        <div class="row top-buffer text-center grey" style="padding-top:0px;">
                <div class="col-sm-2 ">
                </div>  
                <div class="col-sm-1 ">
                        <img src="https://img.icons8.com/nolan/64/000000/cloud.png">
                </div>       
                <div class="col-md-1 ">
                    <img src="https://img.icons8.com/nolan/64/000000/js.png">
                </div>
                <div class="col-md-1 ">
                    <img src="https://img.icons8.com/nolan/64/000000/api-settings.png">
                </div>

                <div class="col-sm-1 ">
                        <img src="https://img.icons8.com/nolan/64/000000/google-calendar.png">
                </div>  
                         
            </div>
                <!--section 3-->
                <div class="row top-buffer">
                    <div class="col-sm-2 ">
                    </div>
                    <div class="col-sm-8 ">
                        <img class="project-featured" src="https://s3.amazonaws.com/jonas-personal-portfolio/snippet-project-01.svg">
                        <div class="project-title-latest">
                            <a href="https://nameless-plateau-58665.herokuapp.com/">Medicstox</a>
                        </div>
                        <div class="project-sub-latest ">
                            Wordpress e-commerce
                        </div>
                        <div class="project-description-latest ">
                            This website utilizes a seamless ecommerce structure that allows users to gain access to the product catalog with ease. There is a vast collection of informs that has been carefully structured to avoid any issues with the search feature. The template has properly contrasting colors and the entire website is 100% responsive for optimal use on any device. The loading times are also optimal and this ensures lower bounce rates and higher conversion rates.
                        </div>
                    </div>
                    <div class="col-sm-2 ">
                    
                    </div>
                </div>
                <!--section 4-->
                <div class="row top-buffer grey">
                    <div class="col-sm-2 ">
                    </div>
                    <div class="col-sm-8 ">
                        <img class="project-featured longShadow" src="https://s3.amazonaws.com/jonas-personal-portfolio/snippet-project-02.svg">
                        <div class="project-title-latest">
                            <a href="https://deanpaul.ca/">Paul Orines Co.</a>
                        </div>
                        <div class="project-sub-latest ">
                            Wordpress Portfolio / UI Design
                        </div>
                        <div class="project-description-latest ">
                            Modern web designs needs to be lightning fast when loading graphics. This website catalog has been optimized for the best results and this provides HD quality images with ideal compression for small file sizes. The result is a site that provides spectacular images without compromising loading speed. This is essential in a world were a few seconds mean the difference between a bounce and a new customer.
                        </div>
                    </div>
                    <div class="col-sm-2 ">
                    
                    </div>
                </div>                
                </div>
    </div>
</div>

          
    
<!-- SPOTIFY PLAYLIST -->
<script src="https://unpkg.com/scrollreveal/dist/scrollreveal.min.js"></script>
<script>

    window.sr = new ScrollReveal({ duration: 2000 });
    sr.reveal('.reveal');
 /* Open when someone clicks on the span element */
   function openNav() {
      document.getElementById("myNav").style.width = "100%";
 
      
    }

    /* Close when someone clicks on the "x" symbol inside the overlay */
    function closeNav() {
      document.getElementById("myNav").style.width = "0%";
      
    }

</script>
<script>

</script>
</body>
<% include  partials/script.ejs %>
</html>